# 데이터 로드 및 형태 확인

In [1]:
import pandas as pd

In [6]:
apart_small = pd.read_excel('../data/전국아파트리스트_집닥.xls')

In [7]:
apart_small.head(20)

       도시   구시군    읍면동      번지           아파트명  총세대수  입주년도    입주년월     입주년월일
0     경기도   평택시    고덕면  4572-1  평택고덕Ca2(행복주택)   298  2020  202002  20200217
1   서울특별시   은평구    역촌동   43-40          도올탑스텔    14  2001    2001      2001
2     경기도   안양시    안양동   151-4             국일    20  1982    1982      1982
3     경기도   이천시    마장면     122             성진   167  2000    2000      2000
4     경기도   파주시    조리읍   157-4             강실    18  1991    1991      1991
5     경기도   평택시    오성면   977-1            그린빌   129  2003    2003      2003
6   부산광역시   수영구    남천동   27-16          남천마르빌    80  2007    2007      2007
7   부산광역시   수영구    민락동   142-1             민락    72  1980  198010  19801013
8   부산광역시    중구  대창동1가   54-30             양지     8     0       0         0
9   대구광역시    동구    효목동  199-16     우왕(199-16)    40  1979    1979      1979
10   경상북도   포항시   구룡포읍     122          해뜨는마을   477  2000    2000      2000
11   경상북도   포항시    동해면     691          대우세원빌   120  2002    2002      2002
12   경상남도   거제시   장승포동   273-1      거제장승포마이투스    54  2017  201704    201704
13   경상남도   창원시    월영동     615        마린애시앙부영  4298  2020  202001    202001
14  부산광역시    서구   남부민동  434-86             시영   288  1960  196001    196001
15  서울특별시   종로구    창신동  23-814             창신    61  1962    1962      1962
16  서울특별시  서대문구    홍제동  312-35             홍제    81  1964    1964      1964
17  서울특별시   성북구    돈암동      48             돈암    48  1965  196512    196512
18  서울특별시    중구     정동    18-1             정동    36  1965  196501    196501
19  서울특별시   종로구    창신동  328-17            동대문   131  1966  196605    196605

In [44]:
# 서울경기 한정
# apart_small = apart[(apart["도시"] == "서울특별시") | (apart["도시"] == "경기도")]

In [45]:
# apart_small.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14714 entries, 0 to 34437
Data columns (total 9 columns):
도시       14714 non-null object
구시군      14714 non-null object
읍면동      14714 non-null object
번지       14714 non-null object
아파트명     14714 non-null object
총세대수     14714 non-null int64
입주년도     14714 non-null int64
입주년월     14714 non-null int64
입주년월일    14714 non-null int64
dtypes: int64(4), object(5)
memory usage: 1.1+ MB

In [46]:
# apart_small.head(20)

       도시   구시군    읍면동      번지           아파트명  총세대수  입주년도    입주년월     입주년월일
0     경기도   평택시    고덕면  4572-1  평택고덕Ca2(행복주택)   298  2020  202002  20200217
1   서울특별시   은평구    역촌동   43-40          도올탑스텔    14  2001    2001      2001
2     경기도   안양시    안양동   151-4             국일    20  1982    1982      1982
3     경기도   이천시    마장면     122             성진   167  2000    2000      2000
4     경기도   파주시    조리읍   157-4             강실    18  1991    1991      1991
5     경기도   평택시    오성면   977-1            그린빌   129  2003    2003      2003
15  서울특별시   종로구    창신동  23-814             창신    61  1962    1962      1962
16  서울특별시  서대문구    홍제동  312-35             홍제    81  1964    1964      1964
17  서울특별시   성북구    돈암동      48             돈암    48  1965  196512    196512
18  서울특별시    중구     정동    18-1             정동    36  1965  196501    196501
19  서울특별시   종로구    창신동  328-17            동대문   131  1966  196605    196605
21  서울특별시   용산구    한남동     287            크로바    12  1967  196710  19671030
22  서울특별시   동작구   노량진동   284-1      우성(284-1)    36  1968  196812    196812
23  서울특별시   은평구    수색동    16-2             수색    32  1968  196810    196810
24  서울특별시    중구    신당동  217-95            동평화    35  1968  196810    196810
25  서울특별시    중구    신당동  372-13             약수    44  1968  196809    196809
26  서울특별시    중구  회현동1가   148-1         회현제1시민   124  1968  196809    196809
27  서울특별시   용산구    효창동   5-495           효창맨션    61  1968  196806    196806
28  서울특별시    중구  인현동2가  192-30           신성상가   199  1968  196805    196805
30  서울특별시  서대문구    홍제동  104-58             인왕   132  1968  196801    196801

In [9]:
apart_small.head(10)

      도시  구시군    읍면동      번지           아파트명  총세대수  입주년도    입주년월     입주년월일
0    경기도  평택시    고덕면  4572-1  평택고덕Ca2(행복주택)   298  2020  202002  20200217
1  서울특별시  은평구    역촌동   43-40          도올탑스텔    14  2001    2001      2001
2    경기도  안양시    안양동   151-4             국일    20  1982    1982      1982
3    경기도  이천시    마장면     122             성진   167  2000    2000      2000
4    경기도  파주시    조리읍   157-4             강실    18  1991    1991      1991
5    경기도  평택시    오성면   977-1            그린빌   129  2003    2003      2003
6  부산광역시  수영구    남천동   27-16          남천마르빌    80  2007    2007      2007
7  부산광역시  수영구    민락동   142-1             민락    72  1980  198010  19801013
8  부산광역시   중구  대창동1가   54-30             양지     8     0       0         0
9  대구광역시   동구    효목동  199-16     우왕(199-16)    40  1979    1979      1979

# 컬럼명 변경

In [10]:
apart_small = apart_small.rename({'도시':'지역','구시군':'주소_시군구', '읍면동':'주소_읍면동', '번지':'주소_번지'}, axis='columns')

In [11]:
apart_small.head()

      지역 주소_시군구 주소_읍면동   주소_번지           아파트명  총세대수  입주년도    입주년월     입주년월일
0    경기도    평택시    고덕면  4572-1  평택고덕Ca2(행복주택)   298  2020  202002  20200217
1  서울특별시    은평구    역촌동   43-40          도올탑스텔    14  2001    2001      2001
2    경기도    안양시    안양동   151-4             국일    20  1982    1982      1982
3    경기도    이천시    마장면     122             성진   167  2000    2000      2000
4    경기도    파주시    조리읍   157-4             강실    18  1991    1991      1991

# 전체주소 생성

In [12]:
apart_small['전체주소'] = apart_small['지역']+' '+apart_small['주소_시군구']+ ' ' + apart_small['주소_읍면동']+ ' ' +apart_small['주소_번지']

In [13]:
apart_small.head(20)

,지역,주소_시군구,주소_읍면동,주소_번지,아파트명,총세대수,입주년도,입주년월,입주년월일,전체주소
0,경기도,평택시,고덕면,4572-1,평택고덕Ca2(행복주택),298,2020,202002,20200217,경기도 평택시 고덕면 4572-1
1,서울특별시,은평구,역촌동,43-40,도올탑스텔,14,2001,2001,2001,서울특별시 은평구 역촌동 43-40
2,경기도,안양시,안양동,151-4,국일,20,1982,1982,1982,경기도 안양시 안양동 151-4
3,경기도,이천시,마장면,122,성진,167,2000,2000,2000,경기도 이천시 마장면 122
4,경기도,파주시,조리읍,157-4,강실,18,1991,1991,1991,경기도 파주시 조리읍 157-4
5,경기도,평택시,오성면,977-1,그린빌,129,2003,2003,2003,경기도 평택시 오성면 977-1
6,부산광역시,수영구,남천동,27-16,남천마르빌,80,2007,2007,2007,부산광역시 수영구 남천동 27-16
7,부산광역시,수영구,민락동,142-1,민락,72,1980,198010,19801013,부산광역시 수영구 민락동 142-1
8,부산광역시,중구,대창동1가,54-30,양지,8,0,0,0,부산광역시 중구 대창동1가 54-30
9,대구광역시,동구,효목동,199-16,우왕(199-16),40,1979,1979,1979,대구광역시 동구 효목동 199-16
10,경상북도,포항시,구룡포읍,122,해뜨는마을,477,2000,2000,2000,경상북도 포항시 구룡포읍 122
11,경상북도,포항시,동해면,691,대우세원빌,120,2002,2002,2002,경상북도 포항시 동해면 691
12,경상남도,거제시,장승포동,273-1,거제장승포마이투스,54,2017,201704,201704,경상남도 거제시 장승포동 273-1
13,경상남도,창원시,월영동,615,마린애시앙부영,4298,2020,202001,202001,경상남도 창원시 월영동 615
14,부산광역시,서구,남부민동,434-86,시영,288,1960,196001,196001,부산광역시 서구 남부민동 434-86
15,서울특별시,종로구,창신동,23-814,창신,61,1962,1962,1962,서울특별시 종로구 창신동 23-814
16,서울특별시,서대문구,홍제동,312-35,홍제,81,1964,1964,1964,서울특별시 서대문구 홍제동 312-35
17,서울특별시,성북구,돈암동,48,돈암,48,1965,196512,196512,서울특별시 성북구 돈암동 48
18,서울특별시,중구,정동,18-1,정동,36,1965,196501,196501,서울특별시 중구 정동 18-1
19,서울특별시,종로구,창신동,328-17,동대문,131,1966,196605,196605,서울특별시 종로구 창신동 328-17

In [54]:
# apart_small.to_csv('../data/전국아파트리스트_서울경기.csv', header=True, index=False, encoding='UTF-8')

In [55]:
# data=pd.read_csv('../data/전국아파트리스트_서울경기.csv')
# data.head()

,도시,구시군,읍면동,번지,아파트명,총세대수,입주년도,입주년월,입주년월일,전체주소
0,경기도,평택시,고덕면,4572-1,평택고덕Ca2(행복주택),298,2020,202002,20200217,경기도 평택시 고덕면 4572-1
1,서울특별시,은평구,역촌동,43-40,도올탑스텔,14,2001,2001,2001,서울특별시 은평구 역촌동 43-40
2,경기도,안양시,안양동,151-4,국일,20,1982,1982,1982,경기도 안양시 안양동 151-4
3,경기도,이천시,마장면,122,성진,167,2000,2000,2000,경기도 이천시 마장면 122
4,경기도,파주시,조리읍,157-4,강실,18,1991,1991,1991,경기도 파주시 조리읍 157-4

In [15]:
apart_small.to_csv('../data/전처리완료/전국아파트리스트.csv', header=True, index=False, encoding='UTF-8')

In [16]:
apart_small.shape

(34453, 10)

In [1]:
import pandas as pd

In [2]:
ap = pd.read_csv('../data/전처리완료/전국아파트리스트.csv')

In [3]:
ap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34453 entries, 0 to 34452
Data columns (total 10 columns):
지역        34453 non-null object
주소_시군구    34453 non-null object
주소_읍면동    34453 non-null object
주소_번지     34453 non-null object
아파트명      34453 non-null object
총세대수      34453 non-null int64
입주년도      34453 non-null int64
입주년월      34453 non-null int64
입주년월일     34453 non-null int64
전체주소      34453 non-null object
dtypes: int64(4), object(6)
memory usage: 2.6+ MB

# 중복값 제거

In [1]:
import pandas as pd

In [2]:
ap = pd.read_csv('../data/전처리완료/전국아파트리스트.csv')

In [5]:
ap[ap.duplicated(keep=False)]

,지역,주소_시군구,주소_읍면동,주소_번지,아파트명,총세대수,입주년도,입주년월,입주년월일,전체주소
15,강원도,강릉시,교동,1775,부영6차,418,2003,200304,200304,강원도 강릉시 교동 1775
16,강원도,강릉시,교동,1775,부영6차,418,2003,200304,200304,강원도 강릉시 교동 1775
96,강원도,강릉시,입암동,545-2,입암동강변코아루오투리움,427,2019,201906,201906,강원도 강릉시 입암동 545-2
97,강원도,강릉시,입암동,545-2,입암동강변코아루오투리움,427,2019,201906,201906,강원도 강릉시 입암동 545-2
267,강원도,동해시,이도동,Jan-83,이도코아루더스카이,502,2020,202001,20200115,강원도 동해시 이도동 83-1
...,...,...,...,...,...,...,...,...,...,...
34439,충청북도,충주시,호암동,1052,충주호암우미린에듀시티,892,2019,201908,201908,충청북도 충주시 호암동 1052
34440,충청북도,충주시,호암동,1063,충주호암두진하트리움,851,2019,201910,201910,충청북도 충주시 호암동 1063
34441,충청북도,충주시,호암동,1063,충주호암두진하트리움,851,2019,201910,201910,충청북도 충주시 호암동 1063
34442,충청북도,충주시,호암동,1191,충주호암힐데스하임,870,2019,201909,20190930,충청북도 충주시 호암동 1191
34443,충청북도,충주시,호암동,1191,충주호암힐데스하임,870,2019,201909,20190930,충청북도 충주시 호암동 1191

In [6]:
ap2 = ap.drop_duplicates()

In [8]:
ap.shape

(34453, 10)

In [9]:
ap2.shape

(34242, 10)

In [10]:
ap2.to_csv('../data/전처리완료/전국아파트리스트_최종.csv',header=True, index=False)